on:
  push:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  release:
    types:
      - published

name: 'Build and optionally publish ResoniteLink'

jobs:
  build-publish:
    name: 'Build and publish library'
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@v6

      - name: 'Build ResoniteLink'
        if: ${{ github.event_name != 'release' }}
        uses: Yellow-Dog-Man/composite-actions-templates/.github/actions/dotnet-build@main
        with:
          dotnet-build-type: 'pack'
          dotnet-project-path: 'ResoniteLink'

      - name: 'Publish ResoniteLink'
        uses: Yellow-Dog-Man/composite-actions-templates/.github/actions/dotnet-build-push-nuget/@main
        if: ${{ github.event_name == 'release' && github.event.action == 'published' }}
        with:
          dotnet-nuget-auth-token: ${{ secrets.NUGET_TOKEN }}
          dotnet-build-args: '-p:Version=${{ github.ref_name }}'
          dotnet-project-path: 'ResoniteLink'
